@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500&family=Montserrat:wght@400;700&family=Permanent+Marker&family=Raleway&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}

.front-background{
    background-color: #D6D6D6;
    padding: 3rem 3rem;
    width: 100%;
    height: auto;
    max-width: 1920px;
}
.main{
    margin:0 1rem;
    background: #FFFFFF;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.name{
    position: absolute;
    padding: 1rem 2rem;
    float: left;
    color: #333333;
    z-index: 999;
}

.front-img{
    flex: 1;
    position: relative;
    height: 88vh;

}
.front-img > div{
    position: relative;
    height: 100%;
}
.front-img img {
    position: absolute;
    filter: grayscale(100%);
    height: auto;
    width: 100%;
   z-index: 999;
   bottom: -2px;
   left: 50%;
   transform: translateX(-50%);
   max-width: 476px;
   
}
.cross{
    display: block;
    position: absolute;
    top: 340px;
    left: 170px;
    font-size: 2.5rem;
    color: #E0C741;
    animation: 2s linear infinite rotate;
    transform:rotateZ(48deg);
    
    
}
.circle1 {
    display: block;
    height: 300px;
    width: 300px;
    border: 3px dashed black;
    position: absolute;
    border-radius: 50%;
    top:500px;
    left: 90px;
    animation: 1s linear infinite rotate;

}
.circle2{
    display: block;
    height: 180px;
    width: 180px;
    border: 3px dashed black;
    border-radius: 50%;
    position: absolute;
    top: 340px;
    left: 500px;
    animation: 1s linear infinite rotate1;

}
.arrow1{
    display: block;
    width: 250px;
    height:10px;
    border-top: 10PX solid black;
    transform: skewY(133.99deg);
   position: absolute;
   top: 350px;
   left: 350px;
   transition: 1s linear;
}
.arrow2{
    
    display: block;
    width: 350px;
    height: 1px;
   border-top: 5PX solid black;
   transform: skewY(133.99deg);
   position: absolute;
   top: 350px;
   left: 350px;
   transition:.7s linear;
}
.front-img:hover .arrow1{
     scale:1.05;
}
.front-img:hover .arrow2{
    scale: 1.05;
}

@keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }
  @keyframes rotate1 {
    from {
      transform: rotate(360deg)
    }
    to {
      transform: rotate(0deg)
    }
  }
 
.name a{
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: 3px;
    line-height: 40px;
    text-decoration: none;
    color: black;
}
.name p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 28.8px;
}
.content{
    flex: 1;
    display: flex;
    justify-content: center;
    padding:0rem 2rem ;
    flex-direction: column;
}
.title h1{
    font-family: 'Inter', sans-serif;
    font-size: 74.2px;
    letter-spacing: 13.44 px;
    color: #333333;
}
.title h1 span{
    font-size: 30px;
    letter-spacing: 5px;
    color: #E0C741;
}
.title p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 28.8px;
    padding: 3rem 0rem;
    width: 70%;
}
.title-link a{
    text-underline-offset: 5px ;
    text-decoration: 2px underline #E0C741;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-weight:bolder;
    letter-spacing: 3px;
    line-height: 11px;
   
}
.col1 a:hover{
    color: #E0C741;
}

footer{
    position: absolute;
    width: 100%;
    background-color: #D6D6D6;
    align-items: center;
   
}
.footer-parent{
   align-items: center;
}
.col{
    position: relative;
    font-family: 'Raleway', sans-serif;
    
}
.col1 a{
    position: relative;
    margin: 0px 15px;
    font-size: 20px;
    color: #333333;
    left: 150px;
    top: -20px;
    
}
.col2{
    position: absolute;
    left: 800px;
    bottom:-5px;
    
}
@media only screen and (max-width:1440px) {
    .cross{
        top: 340px;
        left: 110px;
    }
    .circle1 {
        height: 300px;
        width: 300px;
        top:520px;
        left: 10px;
    
    }
    .circle2{
        height: 180px;
        width: 180px;
        top: 360px;
        left: 400px;
    
    }
    .arrow1{
        width: 200px;
        height:10px;
       top:350px;
       left: 290px;
      
    }
    .arrow2{
        width:400px;
        height: 1px;
        top: 400px;
       left:190px;
       
    }
    .col2{
        position: absolute;
        left: 600px;
        bottom:-5px;
    }
    .col2 img{
        height: 170px;
    }
}

@media only screen and (max-width:1024px) {
   
    .name {
        position: absolute;
        padding: 1rem 2rem;
        float: left;
        color: #333333;
        z-index: 999;
        left: -10px;
    }
    .front-img img {
        left: 50%;
        max-width: 457px;
        padding: 0 1rem;
        margin: 0 1.5rem;
    }
    .cross {
        top: 333px;
        left: 70px;
    }
    .arrow1 {
        width: 250px;
        height: 10px;
        top: 399px;
        left: 130px;
    }
    .arrow2 {
        width: 287px;
        height: 1px;
        top: 408px;
        left: 144px;
    }
    .circle1 {
        height: 250px;
        width: 250px;
        top: 514px;
        left: 4px;
    }
    .circle2 {
        height: 115px;
        width: 115px;
        top: 373px;
        left: 304px;
    }
    .title h1 {
        font-family: 'Inter', sans-serif;
        font-size: 60.2px;
        letter-spacing: 13.44 px;
        color: #333333;
    }
    .col1 a {
        position: relative;
        margin: 0px 10px;
        font-size: 20px;
        color: #333333;
        left: 125px;
        top: -20px;
    }
    .title p {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        line-height: 28.8px;
        padding: 2rem 0rem;
        width: 70%;
    }
    
}
@media only screen and (max-width:786px) {
    .front-img img {
        left: 50%;
        max-width: 450px;
    }
    .cross {
        top: 374px;
        left: 137px;
    }
    .arrow1 {
        width: 250px;
        height: 10px;
        border-top: 10PX solid black;
        top: 413px;
        left: 266px;
    }
    .arrow2 {
        width: 283px;
        height: 1px;
        border-top: 5PX solid black;
        top: 405px;
        left: 304px
    
    }
    .circle1 {
        height: 250px;
        width: 250px;
        left: 30px;
        top: 605px;
    }
    .circle2 {
        height: 140px;
        width: 140px;
        top: 434px;
        left: 404px;
    }
    .main{
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .content{
        flex: 1 1 0%;
         display: flex;
        flex-direction: column; 
    }
    .front-img > div{
        position: relative;
        height: 900px;
    }
    
}
/*for mobile*/
@media only screen and (max-width:425px) {
    .front-img img {
        padding: 2rem;
        top: 50px;
    }
    .cross {
        top: 182px;
        left: 67px;
        font-size: 1.5rem;
    }
    .arrow1 {
        width: 180px;
        height: 2px;
        top: 235px;
        left: 80px;
        border-top: 5PX solid black;
    }
    .arrow2 {
        width: 216px;
        height: 1px;
        top: 239px;
        left: 86px;
        border-top: 3PX solid black;
    }
    .circle1 {
        height: 150px;
        width: 150px;
        top: 311px;
        left: 5px;
    }
    .circle2 {
        height: 80px;
        width: 80px;
        top: 210px;
        left: 213px;
    }
    .title p {
        font-size: 10px;
        line-height: 20px;
        padding: 2rem 0rem;
        width: 100%;
    }
    .col2 {
        left: 330px;
    }
    .name a{
        
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 20px;
        
    }
    .name p{
        font-size: 10px;
        line-height: 20px;
    }
    .main{
            display: block;
            width: auto;
            justify-content: center;
            margin: 0;
    }
    
    .front-img{
        height:55vh;
    }
    
    
    .title h1{
        font-size: 30px;
        letter-spacing: 5px;
    }
    .title h1 span{
        font-size: 15px;
        letter-spacing: 3px;
    }
    .title p{
        font-size: 10px;
        line-height: 20px;
        padding: 1rem 0rem;
    }
    .title-link a{
        font-size: 8px;
        letter-spacing: 2px;
        line-height: 11px;
       
    }
    .col1 a{
        margin: 0px 5px;
        font-size: 15px;
        left: 100px;
        top: -15px;
    }
    
    .col2 img{
        height: 100px;
    }
    .col{
        left: 0px;
              font-size: 12px;
    }
}
@media only screen and (max-width: 375px){
    .front-img img {
        padding: 1.5rem;
        top: 74px;
    }
    .cross {
        top: 182px;
        left: 53px;
        font-size: 1.5rem;
    }
    .arrow1 {
        width: 180px;
        height: 2px;
        top: 235px;
        left: 48px;
        border-top: 5PX solid black;
    }
    .arrow2 {
        width: 206px;
        height: 1px;
        top: 239px;
        left: 56px;
        border-top: 3PX solid black;
    }
    .circle1 {
        height: 130px;
        width: 130px;
        top: 304px;
        left: 5px;
    }
    .circle2 {
        height: 75px;
        width: 75px;
        top: 204px;
        left: 182px;
    }
    .col2 img {
        height: 89px;
    }
    .col2 {
        left: 291px;
    }
    .title h1 {
        font-size: 28px;
        letter-spacing: 5px;
    }
}

